spring:
  application:
    name: photoshare

  datasource:
    url: ${SPRING_DATASOURCE_URL:jdbc:postgresql://localhost:5432/photoshare?currentSchema=public}
    username: ${SPRING_DATASOURCE_USERNAME:postgres}
    password: ${SPRING_DATASOURCE_PASSWORD:123456}
    driver-class-name: org.postgresql.Driver

  jpa:
    hibernate:
      ddl-auto: update   # none / validate / update / create-drop / create
    show-sql: true
    properties:
      hibernate:
        format_sql: true
        dialect: org.hibernate.dialect.PostgreSQLDialect


  servlet:
    multipart:
      enabled: true
      max-file-size: 10MB
      max-request-size: 10MB

    web:
      resources:
        static-locations: file:./uploads/

  data:
    redis:
      host:  ${SPRING_REDIS_HOST:localhost}
      port: ${SPRING_REDIS_PORT:6379}
      password: ${SPRING_REDIS_PASSWORD:}
      timeout: 60000

  mail:
    host: ${MAIL_HOST:smtp-relay.brevo.com}
    port: ${MAIL_PORT:587}
    username: ${MAIL_USERNAME:your-brevo-email@example.com}
    password: ${MAIL_PASSWORD:your-brevo-smtp-key}
    properties:
      mail:
        smtp:
          auth: true
          starttls:
            enable: true
          connectiontimeout: 5000
          timeout: 5000
          writetimeout: 5000
    default-encoding: UTF-8
    from: ${MAIL_FROM:noreply@yourdomain.com}

jwt:
  access-token-expiration: 900000 # 15 minutes
  refresh-token-expiration: 2592000000 # 30 days
  secret:
    access: ${JWT_ACCESS_SECRET:0123456789abcdef0123456789abc2def}
    refresh: ${JWT_REFRESH_SECRET:012433456789absdfsdf456789abcdef}

# Auth Configuration
auth:
  max-failed-attempts: 5
  lock-duration-minutes: 30
  password-expiry-days: 90


# Logging
logging:
  level:
    root: INFO
    org.springframework.security: DEBUG
    org.hibernate.SQL: DEBUG
    com.dev.photoshare.security: DEBUG
  pattern:
    console: "%d{yyyy-MM-dd HH:mm:ss} - %msg%n"
    file: "%d{yyyy-MM-dd HH:mm:ss} [%thread] %-5level %logger{36} - %msg%n"


# Actuator
management:
  endpoints:
    web:
      exposure:
        include: health,info,metrics
  endpoint:
    health:
      show-details: when-authorized

server:
  port: 8080
  error:
    include-message: always
    include-binding-errors: always
